@model TaskCreateViewModel


<div class="modal">
    <form method="post" asp-action="Create">
        <div asp-validation-summary="All" class="text-danger" id="valSummary"></div>
        <input id="isValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <label asp-for="Description"></label>
        <textarea asp-for="Description"> </textarea>
        <label asp-for="Status"></label>
        <select asp-for="Status" asp-items="@Html.GetEnumSelectList<TaskState>()">
            <option selected="selected">Select Status</option>
        </select>
        <label asp-for="Priority"></label>
        <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<TaskPriority>()">
            <option value="" selected="selected">Select Priority</option>
        </select>
        @*<label asp-for="Asignee"></label>*@
     
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" />
        <button type="submit" data-save="modal">Create</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
