@model TaskDetailsViewModel

@{ 
    ViewData["Title"] = "Task Details";
}

<div class="task">
    <div class="taskInfo">
        <span>

        </span>
        @Model.Task.Title
    </div>
    <div class="posts">
        <div class="post">

        </div>
    </div>
</div>

