@model TasksIndexViewModel

@{
    ViewData["Title"] = "Tasks";
}

<div class="tasks">
    <div class="search-container">
        <form asp-action="Search">
            <input asp-for="SearchInfo.SearchText" value="Search" asp-action="Search" />
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>


    <a asp-action="Create" class="btnCreateTask">Create task</a>

    @if (Model.Tasks.Count() > 0)
    {
        @await Html.PartialAsync("_TaskListPartial", Model.Tasks)
    }
    else
    {
        <p>There are no tasks.</p>
    }
    @if (Model.PaginationInfo.TotalPages > 1)
    {
        @await Html.PartialAsync("_PaginationPartial", Model.PaginationInfo)
    }
</div>