@model TasksIndexViewModel

@{
    ViewData["Title"] = "Tasks";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script src="~/js/modal.js"></script>

<div class="tasks">

    @await Html.PartialAsync("_SearchPartial", Model.Search)

    <button class="btn" data-toggle="ajax-modal" data-url="@Url.Action("Create")">Create task</button>

    @if (Model.Tasks.Count() > 0)
    {
        @await Html.PartialAsync("_TaskListPartial", Model.Tasks)
    }
    else
    {
        <p>There are no tasks.</p>
    }
    @if (Model.Pagination.TotalPages > 1)
    {
        @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
    }
</div>