@model SearchViewModel

@{
    ViewData["Title"] = $"Tasks containing '{Model.Q}'";
}

    <div class="searchInfo">
        @if (Model == null || String.IsNullOrWhiteSpace(Model.Q))
        {
            <div>
                <h1>Search</h1>
            </div>
            @await Html.PartialAsync("_SearchPartial", Model)

        }
        else
        {
            <div>
                <h1>Search Results</h1>
                <p>Results for @Model.Q</p>
            </div>
            @await Html.PartialAsync("_SearchPartial", Model)

            <div>
                <p>@Model.Tasks?.Count() results</p>
            </div>

            @await Html.PartialAsync("_TaskListPartial", Model.Tasks)
        }
    </div>








