<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Managment System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </environment>
    <environment exclude="Development">
    </environment>
</head>
<body>
    <div class="container">
        <nav class="mainNav">
            <form method="post" asp-action="Logout" asp-controller="Account">
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Manage"><i class="fas fa-user-circle fa-2x"></i></a>
                    </li>
                    <li>
                        <button type="submit"><i class="fas fa-sign-out-alt fa-2x"></i></button>
                    </li>
                </ul>
            </form>
        </nav>
        <div class="sideNav">
            <ul>
                <li><a asp-action="Index" asp-controller="Tasks">Tasks</a></li>
                <li><a asp-action="Index" asp-controller="Chat">Chat</a></li>
                <li><a href="#">Employee Directory</a></li>
                <li><a href="#">Admin</a></li>
            </ul>
        </div>
        <section class="main">

            @RenderBody()

        </section>

    </div>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
