:root {
    --primary: #A2BDCA;
    --shadow: 0 1px 5px rgb(153, 128, 114, 0.8);
    --taskItemColor: #6e4c7f;
    --main: #a68ecf;
    --header: #f5e4ef;
    --sidenav: #394263;
}

a {
    color: #dce1e2;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}

body {
    background: var(--main);
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas: "header header" "sidenav main";
    height: 100vh;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--header);
    box-shadow: var(--shadow);
}

    .header form {
        grid-column: 4;
        display: grid;
        justify-items: end;
        margin-top: 35px;
        grid-template-columns: 50px 50px;
        grid-gap: 10px;
    }

.main {
    display: grid;
    grid-area: main;
    box-shadow: var(--shadow);
}

.sidenav {
    display: grid;
    grid-area: sidenav;
    grid-template-rows: repeat(4, 180px);
    background-color: var(--sidenav);
    box-shadow: #2184a0;
}

    .sidenav ul {
        display: grid;
        margin: 0;
        padding: 0;
        display: grid;
        list-style: none;
    }

.tasks {
    display: grid;
    margin: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}




.sidenav a {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 0.7rem;
}

    .sidenav a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

.taskList {
    display: grid;
    grid-gap: 0.1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .taskList a {
        background-color: var(--taskItemColor);
        box-shadow: var(--shadow);
        border-style: solid;
        border-width: 1px;
        border-color: #a5968e;
        display: block;
        text-decoration: none;
        padding: 1rem 0.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: minmax(80px, 1fr);
    }

.taskItem {
    display: grid;
    grid-gap: 0.5rem;
    padding: 1rem;
}

.taskList a:hover {
    background: #246f87;
}



.search-container input[type=text] {
    background-color: #42899F;
    color: white;
    padding: 6px;
    font-size: 17px;
    border: none;
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

    .search-container button:hover {
        background: #ccc;
    }

.btn {
    background: #42899F;
    color: white;
    /* 1rem = 16px */
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    box-shadow: var(--shadow);
    max-width: 120px;
}

/*#region Modal*/

.modal form {
    display: grid;
    place-content: center;
}

    .modal form label {
        margin-top: 1rem;
    }

    .modal form button {
        background: #42899F;
        color: white;
        border: 0;
        justify-self: center;
        margin-top: 1rem;
        padding: 1rem;
    }

/*#endregion*/

/*#region Pagination */

.pagination {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    height: 45px;
    /*justify-content: center;*/
}

    .pagination a {
        border: 1px solid #ccc;
        color: black;
        padding: 10px 18px;
        text-decoration: none;
    }

        .pagination a:first-child {
            border-radius: 6px 0 0 6px;
        }

        .pagination a:last-child {
            border-radius: 0 6px 6px 0;
        }



        .pagination a.selected {
            background: #144e60;
        }

        .pagination a:hover:not(.selected) {
            background-color: #ddd;
        }

        .pagination a.disabled {
            pointer-events: none;
            cursor: default;
        }

/*#endregion */

.logo {
    margin-left: 20px;
    max-height: 120px;
    max-width: 140px;
}

.searchInfo {
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    grid-template-rows: 85px 50px 50px 1fr;
}
