:root {
    --primary: #A2BDCA;
    --shadow: 0 1px 5px rgb(153, 128, 114, 0.8);
    
}

a {
    color: #dce1e2;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}

body {
    background: var(--primary);
    /*margin: 0;*/
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "nav main main main" "nav main main main" "nav main main main";
}

.mainNav {
    display: grid;
    grid-area: header;
    background: var(--primary);
    box-shadow: var(--shadow);
}

.sideNav {
    display: grid;
    grid-area: nav;
    grid-template-columns: 200px;
    grid-template-rows: repeat(4, 1fr);
    background: #42899F;
    box-shadow: #2184a0;
}

.main {
    display: grid;
    grid-area: main;
    background: var(--primary);
    box-shadow: var(--shadow);
    
}

.sideNav ul {
    margin: 0;
    display: grid;
    grid-gap: 1px;
    padding: 0;
    list-style: none;
    grid-template-columns: 200px;
    /*width: 100%;
    align-items: start;*/

}


.sideNav a {
    text-align: center;
    background: #0A4C5F;

    display: block;
    text-decoration: none;
    padding: 1.1rem;
}

.mainNav ul {
    display: grid;
    grid-gap: 2px;
    padding: 0;
    margin:0 ;
    list-style: none;
}


/*Index*/

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr;
    margin: 10px;
    grid-gap: 10px;

}

.topBar {
    display: grid;
    background: #ceb9ad;
    box-shadow: var(--shadow);
    
}

.search {
    background: #ceb9ad;
}


.taskList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 120px);
    grid-gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .taskList li {
        display: grid;
        background-color: #04232D;
    }

    .taskItem {
        display: grid;

    }

.taskList a {
    background: #04232D;
    border-style: solid;
    border-width: 1px;
    border-color: #a5968e;

    display: block;
    text-decoration: none;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-shadow: var(--shadow);
    justify-items: start;
    align-items: start;
}

    .taskList a:hover {
        background: #144e60;
    }

.search {
    background-color: #42899F;
    color: white;
}
/*    */

.btn {
    background: #42899F;
    color: white;
    /* 1rem = 16px */
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    box-shadow: var(--shadow);
    width: 120px;
}

.nav-profile {
    grid-column: 4;
    justify-self: end;
    padding-right: 20px;
}

#profileLogo {
    margin-right: 10px;
}

.sideNav a:hover {
    background: #2184a0;
}

.create-task {
    display:grid;
  
    justify-items: center;
}

.create-task form {
    display: grid;
    justify-items: center;
   
}

.create-task a:hover {
    background: #8c7c74;
}

.create-task h2 {
white-space: nowrap;
}

.create-task label {
   margin-top: 25px;
}